*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
    color: #333333;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 1.5;
}

.text-center {
    text-align: center;
}

/* Main Style------------------------------------------------------------------------------------- */

header {
    background-color: #FFF8F3;
    background-image: url(../images/developer.png) , url(../images/header_bg.png) ;
    background-position: 30px 35px, bottom right;

    background-repeat: no-repeat;

    padding-top: 50px;

}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 51px;

}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

#banner {
    margin: 50px 38px 0 230px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#banner .banner-content {
    max-width: 585px;

}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;

}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 1.5;

}

#banner.banner-image {
    max-width: 585px;
    vertical-align: middle;  
      
}


/* About Section */

#about {
    margin-top: 130px;

}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 15px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 1.5;
    margin-bottom: 10px;
}
.about-info .info-card h4 {
    font-size: 20px;
    font-weight: 500;
    color: #181818;
}

#skills , #resume {
    margin-top: 130px;
    margin-bottom: 130px;
}

#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#skills .skills-container .skills-box {
    display: flex;
    gap: 24px;

}
.skills-box .skills-card {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.135);
    padding: 30px 20px;
    border-radius: 10px;

}
.skills-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skills-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p {
    font-size: 16px;
    color: #757575;
    line-height: 1.5;
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 50px auto 0;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.resume-container hr {
    margin: 20px 0

}
.resume-container .section-title {
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 25px;
}

.resume-card {
    max-width: 511px;
    padding-right: 47px;
    padding-bottom: 30px;
    border-radius: 10px;

}

.resume-card .card-title {
    font-size: 22px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 10px;
}

.resume-card .card-info {
    font-size: 18px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text {
    font-size: 16px;
    color: #757575;
    line-height: 1.5;
}

footer {
    background-color: #FFF8F3;
    padding: 100px 0;
    display: flex;
}
footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
    justify-content: space-between;

}

.footer-container .social {
    max-width: 562px;
}

.footer-container h2 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container p {
    font-size: 18px;
    color: #474747;
    line-height: 1.5;
    margin-bottom: 30px;
}

.footer-container .social-icons a {
    margin-right: 20px;
}

.footer-container form input[type="text"] , .footer-container form input[type="email"] , 
.footer-container form textarea {
    padding: 15px 20px;
    width: 450px;
    color: #757575;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
}
